.container {
  min-height: 200px;
  padding: 20px;
}

.imgDiv {
  width: 110px;
  height: 120px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 576px){
  .imgDiv {
    width: 165px;
    height: 180px;
  }
}
