

.title {
  flex-grow: 1;
  text-align: center;
  font-weight: 300;
}

header {
  padding-top: 10px;
  padding-bottom: 10px; 
  padding-right: 5px; 
}

span {
  margin-left: 5px;
  font-size: 1.15rem;
}

img {
  width: 100px;
}

.author {
  justify-content: space-around;
  align-items: center;
  height: 250px;
}

li {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
li:nth-child(odd) {
  background-color: #4268b1;
}

li:nth-child(even) {
  background-color: #3f62a5;
}